<div class="container"><br>
    <img src="https://st2.depositphotos.com/4177785/41998/v/600/depositphotos_419989734-stock-illustration-hydrogen-peroxide-rgb-color-icon.jpg" alt=""><br>
    <h1>Peroxido de Hidrogeno</h1>
    <p>Esta hoja informativa contesta las preguntas más frecuentes acerca de los efectos del peróxido de hidrógeno sobre la salud. Para más información, por favor llame al Centro de Información de ATSDR al 1-800-232-4636. Esta hoja informativa forma parte de una serie de resúmenes acerca de sustancias peligrosas y sus efectos sobre la salud. Es importante que usted entienda esta información ya que esta sustancia puede ser perjudicial. Los efectos de la exposición a cualquier sustancia tóxica dependen de la dosis, la duración, la manera como usted está expuesto, sus hábitos y características personales y de la presencia de otras sustancias químicas.</p>
</div>
